.hero-section {
  height: 100vh;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.navbar {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  background-color: transparent;
}

.nav-link {
  margin-top: 20px;
  font-family: Centra, sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.nav-link:hover {
  color: #3d33c2;
}

.nav-link.demo {
  margin-top: 33px;
  padding: 10px 25px;
  border: 1px none #fff;
  border-radius: 4px;
  background-color: #3d33c2;
  font-family: Centra, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.nav-link.demo:hover {
  background-color: #1308a7;
  color: #fff;
}

.nav-link.sign-in {
  margin-top: 21px;
  margin-left: 20px;
  color: #333;
  font-weight: 400;
}

.nav-link.sign-in:hover {
  color: #3d33c2;
}

.nav-link.schedule-a-demo {
  font-weight: 600;
}

.nav-link.demo-link {
  display: none;
  font-family: Centra, sans-serif;
  font-weight: 700;
}

.hero-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: Graphik, sans-serif;
  color: #333;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}

.hero-table {
  height: 170%;
  margin-top: 150px;
}

.left-div-block {
  display: block;
  width: 50%;
  float: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.right-div-block {
  display: block;
  overflow: hidden;
  width: 50%;
  height: 700px;
  float: right;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/Hero-image.png');
  background-position: 0px 0px;
  background-size: 725px;
}

.image {
  padding-left: 58px;
}

.container {
  display: inline;
}

.top-logo {
  position: static;
  display: block;
  margin-top: 55px;
  text-align: center;
}

.heading {
  padding-top: 100px;
  padding-left: 55px;
  font-family: 'Avenir Next';
  font-weight: 600;
}

.hero-subheader {
  width: 570px;
  margin: 10px auto 50px;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.hero-button.primary {
  display: block;
  width: 230px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 4px;
  background-color: #3d33c2;
  font-family: Centra, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.hero-button.primary:hover {
  background-color: #1308a7;
}

.hero-button.secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 25px;
  float: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(117, 133, 143, 0.75);
  border-radius: 4px;
  background-color: transparent;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.hero-button.secondary:hover {
  border-color: #686bc5;
  color: #686bc5;
}

.nav-menu {
  padding-right: 50px;
}

.section-header {
  margin-top: 25px;
  font-family: Montserrat, sans-serif;
  color: #777;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.section-header.brands {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  font-size: 16px;
  line-height: 22px;
}

.brand-image {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.85;
  text-align: center;
}

.use-cases {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fafafc;
}

.use-cases.hidden {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.use-cases.brands {
  display: block;
  padding-bottom: 0px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Graphik, sans-serif;
  color: #333;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.section-heading.demo {
  padding-top: 150px;
}

.section-subheading {
  display: block;
  width: 640px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.section-subheading.long {
  display: block;
  width: 740px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.use-cases-row {
  margin: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.even-section {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.even-section.hidden {
  padding-top: 50px;
}

.brands-section {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.image-heading {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.image-subheading {
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-weight: 300;
  text-align: center;
}

.text-block {
  margin-top: 51px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.messages-row {
  margin-top: 35px;
}

.message-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.message-title {
  padding-top: 25px;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.message-description {
  position: static;
  width: 270px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.preview-link {
  display: block;
  margin: 25px auto 10px;
  font-family: Centra, sans-serif;
  color: #3d33c2;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.section-image {
  display: block;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
}

.advantage {
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: Centra, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.advantage-image {
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.advantage-description {
  padding-bottom: 25px;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-weight: 400;
  text-align: center;
}

.button {
  display: block;
  width: 240px;
  margin: 50px auto 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: #3d33c2;
  font-family: Centra, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  background-color: #1308a7;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3d33c2;
}

.footer-header {
  margin-bottom: 15px;
  padding-left: 5px;
  font-family: Centra, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.footer-link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: 'Brandon Text';
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link.link {
  padding-left: 0px;
}

.footer-link.link:hover {
  color: #fff;
}

.container-2 {
  margin-bottom: 50px;
}

.bottom-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: Centra, sans-serif;
  color: hsla(0, 0%, 100%, 0.85);
  font-weight: 300;
  text-decoration: none;
}

.bottom-link:hover {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  color: #7c7ec3;
  font-size: 32px;
}

.text-block-2 {
  margin-bottom: 35px;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.image-6 {
  background-color: transparent;
}

.home-link {
  font-family: Montserrat, sans-serif;
  color: #7c7ec3;
  font-weight: 300;
  text-decoration: none;
}

.service-page-header {
  margin-top: 50px;
  float: left;
  font-family: 'Brandon Text';
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

.top-row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.service-page-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: left;
}

.service-page-content {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Brandon Text';
  color: #555;
  line-height: 22px;
  font-weight: 300;
}

.service-page-content.chapter-title {
  font-weight: 500;
}

.warning {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #7c7ec3;
  background-color: transparent;
  font-family: 'Brandon Text';
  color: #7c7ec3;
  font-size: 14px;
  font-weight: 300;
}

.updated-date {
  font-family: 'Brandon Text';
  color: #555;
  font-weight: 500;
}

.service-page-navlink {
  margin-top: 25px;
  font-family: 'Brandon Text';
  color: #7c7ec3;
  font-weight: 300;
}

.service-page-link {
  color: #7c7ec3;
  text-decoration: none;
}

.security-warning {
  margin-bottom: 30px;
  padding: 35px;
  border: 1px solid #7c7ec3;
  background-color: #7c7ec3;
  font-family: 'Brandon Text';
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.security-link {
  color: #fff;
  text-decoration: none;
}

.security-page-content {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #555;
  line-height: 22px;
  font-weight: 300;
}

.security-page-content.chapter-title {
  padding-top: 15px;
  font-family: 'Brandon Text';
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.security-page-text {
  margin-bottom: 75px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'Brandon Text';
  color: #555;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.security-page-text.chapter-title {
  font-weight: 400;
}

.security-page-text.part {
  margin-bottom: 5px;
}

.security-page-link {
  color: #7c7ec3;
  text-decoration: none;
}

.security-page-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Brandon Text';
  color: #444;
  font-weight: 500;
}

.footer-column {
  padding-bottom: 20px;
}

.privacy-page-content {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #555;
  line-height: 22px;
  font-weight: 300;
}

.privacy-page-content.chapter-title {
  font-family: 'Brandon Text';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.privacy-page-text {
  padding-top: 12px;
  padding-bottom: 10px;
  font-family: 'Brandon Text';
  color: #555;
  line-height: 22px;
  font-weight: 300;
}

.privacy-page-text.chapter-title {
  font-weight: 400;
}

.privacy-text-subtitle {
  font-weight: 500;
}

.nav-dropdown-link {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.nav-dropdown-link:hover {
  background-color: rgba(124, 126, 195, 0.35);
  color: #333;
  font-weight: 300;
}

.dropdown-list {
  width: 225px;
  border-radius: 4px;
}

.dropdown-list.w--open {
  background-color: #fff;
  box-shadow: 0 0 5px 0 #000;
}

.guide-page-header {
  display: block;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.guide-page-image {
  display: inline-block;
  float: none;
}

.guide-subheading {
  display: block;
  width: 740px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.guide-subheading.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.guide-field-name {
  display: block;
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
}

.guide-text-field {
  display: block;
  width: 360px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.05);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
}

.guide-page-button {
  display: block;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 50px;
  border-radius: 4px;
  background-color: #7c7ec3;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.guide-page-button:active {
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.form-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-error {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.form-success {
  font-family: Montserrat, sans-serif;
}

.services-form-header {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.services-form-header.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.services-page-header {
  display: block;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.services-subheading {
  display: block;
  width: 740px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.services-subheading.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.services-page-button {
  display: block;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: #7c7ec3;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.pricing-plan-heading {
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.price {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #6265b8;
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.price-from {
  display: block;
  margin: 0px auto;
  font-family: Montserrat, sans-serif;
  color: rgba(117, 133, 143, 0.85);
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.price-from.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.price-from.non {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgba(117, 133, 143, 0);
}

.pricing-table {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 50px;
}

.plan-attribute {
  display: block;
  margin: 0px auto 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #3f505a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.plan-attribute.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.plan-attribute.non {
  color: rgba(117, 133, 143, 0);
}

.a-month {
  display: block;
  margin: 0px auto 25px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.a-month.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.a-month.non {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgba(117, 133, 143, 0);
}

.scenarios-link {
  color: #75858f;
  text-decoration: none;
}

.scenarios-link:hover {
  text-decoration: none;
}

.brand-heading {
  display: block;
  width: 740px;
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.brand-heading.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cdp-row {
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.martech-headline {
  margin-top: 95px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-weight: 700;
  text-align: left;
}

.martech-headline.demo {
  padding-top: 150px;
}

.martech-subheading {
  display: block;
  width: 580px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.martech-subheading.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.preview-link-copy {
  display: block;
  margin: 25px auto 10px;
  font-family: Montserrat, sans-serif;
  color: #7c7ec3;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.read-more-link {
  display: block;
  margin: 35px auto 10px 20px;
  clear: both;
  font-family: Montserrat, sans-serif;
  color: #7c7ec3;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.image-9 {
  display: block;
  margin-top: 15px;
  margin-left: 15px;
  padding-left: 0px;
  float: left;
}

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
}

.video-modal {
  width: 960px;
  box-shadow: 1px 0 15px 5px rgba(0, 0, 0, 0.35);
}

.case-study-title {
  display: inline-block;
  width: 540px;
  margin: 0px auto 0px 30px;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.case-study-title.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.quote-title {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-top: 20px;
  clear: both;
  font-family: Montserrat, sans-serif;
  color: #7c7ec3;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.quote-image {
  display: block;
  margin-top: 5px;
  margin-left: 15px;
  padding-left: 0px;
  float: right;
}

.article-image {
  float: none;
}

.column-4 {
  margin-top: 25px;
}

.success-message {
  background-color: #fff;
}

.download-button {
  padding: 15px 35px;
  background-color: #7c7ec3;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.guide-form-header {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #75858f;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
}

.guide-form-header.long {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ad-format-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.ad-format-image.vote {
  max-width: 100%;
}

.ad-format-column.microgame {
  background-color: #50a7f9;
}

.ad-format-column.poll {
  background-color: #f7f3ec;
}

.ad-format-column.animation {
  background-color: #f8faff;
}

.ad-format-column.giveaway {
  background-color: #3cbaff;
}

.ad-format-column.custom {
  background-color: #12061d;
}

.ad-format-title {
  margin-bottom: 25px;
  padding-top: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
}

.ad-format-title.white {
  margin-bottom: 25px;
  padding-top: 15px;
  color: #fff;
}

.ad-formats-row {
  margin-top: 35px;
}

.ad-formats-row.bottom {
  margin-top: 0px;
}

.guide-cover {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.guide-cover.popups {
  margin-top: 39px;
}

.guide-cover.jetway {
  margin-top: 8px;
}

.guide-subtitle {
  margin-top: 30px;
  font-family: 'Brandon Text';
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  text-align: left;
}

.guide-subtitle.guide {
  padding-right: 25px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.guide-subtitle.popup {
  margin-top: 80px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.guide-subtitle.jetway {
  margin-top: 34px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.guide-description {
  margin-top: 15px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'Brandon Text';
  color: #75858f;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}

.guide-button {
  display: block;
  width: 250px;
  margin: 30px auto 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: none;
  border-radius: 4px;
  background-color: #7c7ec3;
  font-family: 'Brandon Text';
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.dropdown-toggle {
  padding-right: 20px;
}

.column-5 {
  border: 1px solid #fff;
}

.columns {
  border: 1px none #000;
}

.image-10 {
  margin-top: 20px;
}

.others-link {
  font-family: Centra, sans-serif;
  color: #75858f;
  font-weight: 300;
  text-decoration: none;
}

.others-link:hover {
  text-decoration: none;
}

.pricing-quote {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 10px 5px 0px;
  font-family: Centra, sans-serif;
  color: #3d33c2;
  font-size: 42px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.month {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.plan-feature {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Brandon Text';
  color: #75858f;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.plan-feature.hidden {
  color: rgba(117, 133, 143, 0);
}

.plan-feature.users {
  color: #7c7ec3;
  font-weight: 500;
}

.image-11 {
  display: inline-block;
}

.text-span {
  font-size: 28px;
  line-height: 32px;
}

.pricing-list {
  width: 290px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 35px;
}

.pricing-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Centra, sans-serif;
  color: #75858f;
  font-size: 16px;
  line-height: 20px;
}

.pricing-list-item.users {
  font-family: Centra, sans-serif;
  color: #3d33c2;
  font-weight: 500;
}

.pricing-list-item.hidden {
  color: rgba(117, 133, 143, 0);
}

.try-button {
  display: block;
  width: 260px;
  margin: 50px auto 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: #3d33c2;
  font-family: Centra, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.try-button:hover {
  background-color: #1308a7;
}

.pricing-plan-card {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  float: none;
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  border-radius: 8px;
  background-color: #fff;
}

.resources-card {
  margin-top: 25px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
}

.column-6 {
  padding-bottom: 35px;
}

.service-page-logo {
  display: block;
  width: 205px;
  margin: 50px auto 35px;
}

.sign-in-block {
  width: 280px;
  margin: 50px auto;
}

.sign-in-button {
  width: 280px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: #3d33c2;
  font-family: Centra, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.sign-in-button:hover {
  background-color: #1308a7;
}

.text-field {
  border-radius: 4px;
  font-family: Centra, sans-serif;
  color: #333;
}

.text-field:focus {
  color: #3d33c2;
  font-weight: 400;
}

.text-field::-webkit-input-placeholder {
  color: rgba(117, 133, 143, 0.65);
}

.text-field:-ms-input-placeholder {
  color: rgba(117, 133, 143, 0.65);
}

.text-field::-ms-input-placeholder {
  color: rgba(117, 133, 143, 0.65);
}

.text-field::placeholder {
  color: rgba(117, 133, 143, 0.65);
}

.form-block-card {
  width: 350px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.15);
}

.heading-3 {
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  font-family: Centra, sans-serif;
  font-size: 26px;
  text-align: center;
}

.password-reset-link {
  display: block;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
  font-family: Centra, sans-serif;
  color: #3d33c2;
  text-align: center;
  text-decoration: none;
}

.password-reset-link:hover {
  color: #1308a7;
}

.sign-in-link {
  width: 240px;
  margin-right: auto;
  margin-left: auto;
  font-family: Centra, sans-serif;
  color: #75858f;
  text-align: center;
}

.link-2 {
  border: 1px none #000;
  color: #75858f;
  text-decoration: none;
}

.link-2:hover {
  color: #fff;
}

.mobile-navbar {
  position: relative;
  display: none;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid transparent;
  background-color: transparent;
}

.container-3 {
  margin-right: auto;
  margin-left: auto;
}

.footer-logo {
  margin-top: -20px;
}

.body {
  height: 100vh;
  background-color: #3d33c2;
}

.hero-logo {
  display: block;
  width: 250px;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
}

.top-button {
  display: inline-block;
  width: 230px;
  margin-right: 0px;
  margin-left: auto;
  padding: 10px 30px;
  font-family: Centra, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.top-button-2 {
  display: inline-block;
  width: 230px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px 30px;
  float: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Centra, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.div-block {
  display: block;
  width: 520px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hero-link {
  display: block;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Graphik, sans-serif;
  color: #3d33c2;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.let-s-talk {
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}

.let-s-talk.hidden {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.let-s-talk.brands {
  display: block;
  padding-bottom: 0px;
}

.newsletter-link {
  display: block;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Graphik, sans-serif;
  color: #3d33c2;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.image-12 {
  display: none;
}

.form {
  width: 460px;
  margin-right: auto;
  margin-left: auto;
}

.email-field {
  margin-bottom: 30px;
  border-radius: 4px;
  font-family: Graphik, sans-serif;
  color: #75858f;
  font-weight: 700;
  text-align: center;
}

.email-field:focus {
  color: #333;
}

.submit-button {
  display: block;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: #3d33c2;
  font-family: Centra, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.submit-button:hover {
  background-color: #1308a7;
}

.success {
  font-family: Graphik, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.success-form {
  width: 680px;
  margin-right: auto;
  margin-left: auto;
  background-color: #3d33c2;
}

.error-message {
  padding-bottom: 15px;
  font-family: Graphik, sans-serif;
  color: #ce3736;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .nav-link {
    float: right;
  }
  .nav-link.demo {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .nav-link.sign-in {
    margin-left: 0px;
  }
  .nav-link.demo-link {
    float: right;
  }
  .right-div-block {
    width: 45%;
  }
  .top-logo {
    margin-left: 35px;
  }
  .hero-subheader {
    width: 570px;
  }
  .hero-button.primary {
    display: block;
    width: 230px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 20px;
    text-align: center;
  }
  .hero-button.secondary {
    display: inline-block;
    width: 230px;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .nav-menu {
    padding-bottom: 20px;
    background-color: #fff;
  }
  .section-subheading {
    width: 640px;
  }
  .section-subheading.long {
    width: 680px;
  }
  .message-description {
    width: 240px;
  }
  .service-page-header {
    margin-top: 20px;
  }
  .menu-button {
    margin-top: 20px;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .dropdown-list.w--open {
    margin-left: 20px;
  }
  .guide-page-header {
    margin-top: 20px;
  }
  .guide-subheading {
    width: 740px;
  }
  .guide-subheading.long {
    width: 760px;
  }
  .guide-field-name {
    width: 320px;
  }
  .guide-text-field {
    width: 320px;
  }
  .form-wrapper {
    width: auto;
  }
  .services-form-header {
    width: 330px;
    margin-top: 8px;
  }
  .services-form-header.long {
    width: 760px;
  }
  .services-page-header {
    margin-top: 20px;
  }
  .services-subheading {
    width: 740px;
  }
  .services-subheading.long {
    width: 760px;
  }
  .services-form {
    margin-top: 40px;
  }
  .price-from.long {
    width: 760px;
  }
  .plan-attribute.long {
    width: 760px;
  }
  .a-month.long {
    width: 760px;
  }
  .brand-heading {
    width: 740px;
  }
  .brand-heading.long {
    width: 760px;
  }
  .martech-subheading {
    width: 740px;
  }
  .martech-subheading.long {
    width: 760px;
  }
  .video-modal {
    width: 85%;
  }
  .case-study-title {
    width: 740px;
  }
  .case-study-title.long {
    width: 760px;
  }
  .guide-form-header {
    width: 330px;
    margin-top: 8px;
  }
  .guide-form-header.long {
    width: 760px;
  }
  .guide-cover.popups {
    overflow: hidden;
    max-width: none;
    margin-top: 20px;
  }
  .guide-subtitle.popup {
    margin-top: 52px;
  }
  .guide-description {
    text-align: center;
  }
  .guide-button {
    width: 180px;
  }
  .image-10 {
    display: none;
  }
  .pricing-list {
    padding-left: 30px;
  }
  .pricing-plan-card {
    width: 360px;
  }
  .icon {
    background-color: transparent;
    color: #3d33c2;
  }
}

@media screen and (max-width: 767px) {
  .hero-header {
    width: 490px;
    margin-top: 75px;
    padding-left: 15px;
  }
  .right-div-block {
    display: none;
    width: 40%;
  }
  .top-logo {
    margin-top: 22px;
    margin-left: 0px;
  }
  .hero-subheader {
    width: 550px;
    margin-bottom: 50px;
    padding-left: 15px;
  }
  .hero-button.primary {
    display: block;
    width: 230px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
  }
  .hero-button.secondary {
    display: inline-block;
    width: 230px;
    margin-left: 15px;
    text-align: center;
  }
  .section-subheading {
    width: 540px;
  }
  .section-subheading.long {
    width: 540px;
  }
  .use-case-video {
    margin-bottom: 25px;
  }
  .image-3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .image-4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .image-5 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .service-page-header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .service-page-image {
    float: none;
  }
  .service-page-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .warning {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .updated-date {
    padding-right: 10px;
    padding-left: 10px;
  }
  .security-warning {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .security-page-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .security-page-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .security-page-list-item {
    padding-left: 10px;
  }
  .security-page-image {
    padding-left: 10px;
  }
  .menu-button {
    margin-top: 20px;
  }
  .privacy-page-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .privacy-page-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .dropdown-list.w--open {
    margin-left: 20px;
  }
  .guide-page-header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .guide-page-image {
    padding-left: 10px;
  }
  .guide-subheading {
    width: 540px;
  }
  .guide-subheading.long {
    width: 540px;
  }
  .guide-form {
    margin-top: auto;
  }
  .form-wrapper {
    width: 540px;
  }
  .services-form-header {
    width: 540px;
  }
  .services-form-header.long {
    width: 540px;
  }
  .services-page-header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .services-subheading {
    width: 540px;
  }
  .services-subheading.long {
    width: 540px;
  }
  .services-form {
    margin-top: auto;
  }
  .price-from {
    width: 540px;
  }
  .price-from.long {
    width: 540px;
  }
  .plan-attribute {
    width: 540px;
  }
  .plan-attribute.long {
    width: 540px;
  }
  .plan-attribute.non {
    display: none;
  }
  .a-month {
    width: 540px;
  }
  .a-month.long {
    width: 540px;
  }
  .column-3 {
    margin-bottom: 50px;
  }
  .brand-heading {
    width: 540px;
  }
  .brand-heading.long {
    width: 540px;
  }
  .martech-subheading {
    width: 540px;
  }
  .martech-subheading.long {
    width: 540px;
  }
  .case-study-title {
    width: 540px;
  }
  .case-study-title.long {
    width: 540px;
  }
  .guide-form-header {
    width: 540px;
  }
  .guide-form-header.long {
    width: 540px;
  }
  .image-10 {
    display: none;
  }
  .pricing-list {
    padding-left: 35px;
  }
  .pricing-plan-card {
    margin-bottom: 25px;
  }
  .icon {
    color: #3d33c2;
  }
  .success-form {
    width: 520px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .hero-section {
    border-radius: 0px;
  }
  .nav-link {
    display: block;
  }
  .nav-link.demo {
    display: block;
  }
  .nav-link.sign-in {
    position: relative;
  }
  .hero-header {
    width: 280px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
  }
  .right-div-block {
    display: none;
  }
  .top-logo {
    margin-top: 20px;
    margin-left: 0px;
  }
  .hero-subheader {
    width: 280px;
    margin: auto auto 35px;
    padding-left: 0px;
    text-align: left;
  }
  .hero-button.primary {
    width: 280px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
  }
  .hero-button.secondary {
    width: 260px;
    margin-left: 20px;
    text-align: center;
  }
  .nav-menu {
    display: block;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .section-header {
    font-weight: 200;
  }
  .use-cases.hidden {
    margin-top: 125px;
  }
  .section-heading {
    display: block;
    width: 310px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-subheading {
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-subheading.long {
    width: 300px;
  }
  .use-cases-row.top {
    margin-bottom: 15px;
  }
  .use-cases-row.bottom {
    margin-top: -15px;
  }
  .use-case-video {
    margin-bottom: 25px;
  }
  .text-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .preview-link {
    margin-bottom: 35px;
  }
  .container-2 {
    padding-bottom: 50px;
  }
  .service-page-header {
    text-align: center;
  }
  .service-page-image {
    float: none;
  }
  .service-page-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .security-page-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .security-page-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .security-page-list-item {
    padding-left: 10px;
  }
  .security-page-image {
    padding-left: 10px;
  }
  .image-8 {
    padding-left: 10px;
  }
  .menu-button {
    margin-top: 23px;
  }
  .privacy-page-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .privacy-page-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .dropdown-list.w--open {
    margin-left: 20px;
  }
  .guide-page-header {
    text-align: center;
  }
  .guide-page-image {
    padding-left: 10px;
  }
  .guide-subheading {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .guide-subheading.long {
    width: 300px;
  }
  .guide-field-name {
    width: 270px;
  }
  .guide-text-field {
    width: 270px;
  }
  .guide-form {
    margin-top: auto;
  }
  .form-wrapper {
    width: 300px;
  }
  .services-form-header {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .services-form-header.long {
    width: 300px;
  }
  .services-page-header {
    text-align: center;
  }
  .services-subheading {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .services-subheading.long {
    width: 300px;
  }
  .services-form {
    margin-top: auto;
  }
  .price-from {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .price-from.long {
    width: 300px;
  }
  .plan-attribute {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .plan-attribute.long {
    width: 300px;
  }
  .plan-attribute.non {
    display: none;
  }
  .column-2 {
    margin-top: 35px;
  }
  .a-month {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .a-month.long {
    width: 300px;
  }
  .brand-heading {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .brand-heading.long {
    width: 300px;
  }
  .martech-headline {
    display: block;
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
  }
  .martech-subheading {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
  }
  .martech-subheading.long {
    width: 300px;
  }
  .preview-link-copy {
    margin-bottom: 35px;
  }
  .read-more-link {
    margin-bottom: 35px;
    margin-left: auto;
    padding-left: 5px;
  }
  .image-9 {
    margin-left: auto;
  }
  .case-study-title {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .case-study-title.long {
    width: 300px;
  }
  .quote-title {
    margin-bottom: 35px;
  }
  .guide-form-header {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .guide-form-header.long {
    width: 300px;
  }
  .guide-subtitle {
    margin-top: 15px;
    padding-left: 15px;
  }
  .guide-description {
    padding-left: 15px;
  }
  .guide-button {
    margin-right: auto;
    margin-left: auto;
  }
  .column-5 {
    height: 100vh;
  }
  .pricing-list {
    padding-left: 30px;
  }
  .pricing-plan-card {
    width: 300px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
  }
  .icon {
    color: #3d33c2;
  }
  .sign-in-block {
    width: 260px;
  }
  .sign-in-button {
    width: 260px;
  }
  .form-block-card {
    width: 300px;
  }
  .mobile-navbar {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #fff;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-navbar-link {
    display: block;
    height: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Brandon Text';
    font-size: 10px;
    text-align: center;
    text-decoration: none;
  }
  .link-3 {
    display: block;
    text-align: center;
  }
  .text-block-3 {
    font-size: 13px;
    text-align: center;
  }
  .hero-logo {
    display: none;
    overflow: hidden;
    width: 250px;
    margin: 30px auto 25px;
    padding-left: 0px;
    float: left;
    text-align: center;
  }
  .hero-link {
    width: 280px;
  }
  .let-s-talk.hidden {
    margin-top: 125px;
  }
  .image-12 {
    position: relative;
    left: -55px;
    display: block;
    width: 180px;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    float: none;
    clear: none;
  }
  .form {
    width: 280px;
  }
  .form-block {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
  }
  .success-form {
    width: 290px;
    margin-right: auto;
    margin-left: auto;
  }
}

@font-face {
  font-family: 'Centra';
  src: url('../fonts/CentraNo2-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Centra';
  src: url('../fonts/CentraNo2-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/GraphikBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}